#loginform {
	margin-top: 100px;
}

#loginform h1 {
	text-align: center;
	margin-bottom: 50px;
}

#addUser h1 {
	text-align: center;
	margin-top: 50px;
}

#addUser form {
	margin-top: 20px; 
	margin-bottom: 100px;
}

#addUser .form-group {
	margin-top: 20px;
}